# Basic Level

**1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.**

In [4]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**2. Create a program that calculates the sum of all numbers in a list using a `for` loop.**

In [5]:
def sum_of_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total


my_list = [1, 2, 3, 4, 5]
result = sum_of_list(my_list)
print("Sum of the list:", result)

Sum of the list: 15

**Write a program to print the characters of a string in reverse order using a `for` loop.**

In [6]:
def reverse_string(string):
    reversed_string = ""
    for char in reversed(string):
        reversed_string += char
    return reversed_string

:
input_string = "hello"
reversed_str = reverse_string(input_string)
print("Original string:", input_string)
print("Reversed string:", reversed_str)

Original string: hello
Reversed string: olleh

**4.Develop a program that finds the factorial of a given number using a `for` loop.**

In [7]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result


number = 5
fact = factorial(number)
print("Factorial of", number, "is:", fact)

Factorial of 5 is: 120

**5. Create a program to print the multiplication table of a given number using a `for` loop.**

In [11]:
def multiplication_table(number):
    print("Multiplication table of", number, ":")
    for i in range(1, 11):
        print(number, "x", i, "=", number * i)


given_number = int(input("Enter number: "))
multiplication_table(given_number)

Enter number: 4
Multiplication table of 4 :
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

**6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.**

In [12]:
def count_even_odd(numbers):
    even_count = 0
    odd_count = 0
    for num in numbers:
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
    return even_count, odd_count


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even, odd = count_even_odd(my_list)
print("Number of even numbers:", even)
print("Number of odd numbers:", odd)

Number of even numbers: 5
Number of odd numbers: 5

**7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.**

In [13]:
print("Squares of numbers from 1 to 5:")
for i in range(1, 6):
    square = i ** 2
    print("Square of", i, ":", square)

Squares of numbers from 1 to 5:
Square of 1 : 1
Square of 2 : 4
Square of 3 : 9
Square of 4 : 16
Square of 5 : 25

**8. Create a program to find the length of a string without using the `len()` function.**

In [14]:
def string_length(string):
    length = 0
    for char in string:
        length += 1
    return length


input_string = "Hello, World!"
length = string_length(input_string)
print("Length of the string:", length)

Length of the string: 13

**9. Write a program that calculates the average of a list of numbers using a `for` loop.**

In [15]:
def calculate_average(numbers):
    total = 0
    count = 0
    for num in numbers:
        total += num
        count += 1
    if count == 0:
        return 0  # To avoid division by zero
    else:
        return total / count


my_list = [1, 2, 3, 4, 5]
average = calculate_average(my_list)
print("Average of the list:", average)

Average of the list: 3.0

**10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.**

In [16]:
def fibonacci(n):
    fib_sequence = []
    if n <= 0:
        return fib_sequence
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_sequence = [0, 1]
        for i in range(2, n):
            next_fib = fib_sequence[-1] + fib_sequence[-2]
            fib_sequence.append(next_fib)
        return fib_sequence

# Example usage:
n = 10  # Number of Fibonacci numbers to print
fib_numbers = fibonacci(n)
print("First", n, "Fibonacci numbers:")
for num in fib_numbers:
    print(num, end=" ")

First 10 Fibonacci numbers:
0 1 1 2 3 5 8 13 21 34

****

# Intermidiate level

**11. Write a program to check if a given list contains any duplicates using a `for` loop.**

In [17]:
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False


my_list = [1, 2, 3, 4, 5]
print("Does the list have duplicates?", has_duplicates(my_list))

my_list_with_duplicates = [1, 2, 3, 4, 5, 3]
print("Does the list with duplicates have duplicates?", has_duplicates(my_list_with_duplicates))

Does the list have duplicates? False
Does the list with duplicates have duplicates? True

**12. Create a program that prints the prime numbers in a given range using a `for` loop.**

In [18]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_prime_numbers(start, end):
    print("Prime numbers between", start, "and", end, "are:")
    for num in range(start, end + 1):
        if is_prime(num):
            print(num, end=" ")


start_range = 10
end_range = 50
print_prime_numbers(start_range, end_range)

Prime numbers between 10 and 50 are:
11 13 17 19 23 29 31 37 41 43 47

**13. Develop a program that counts the number of vowels in a string using a `for` loop.**

In [19]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    vowel_count = 0
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count


input_string = "Hello, World!"
num_vowels = count_vowels(input_string)
print("Number of vowels in the string:", num_vowels)

Number of vowels in the string: 3

**14. Write a program to find the maximum element in a 2D list using a nested `for` loop.**

In [20]:
def find_max_element_2d(matrix):
    max_element = float("-inf")  # Initialize max_element to negative infinity
    for row in matrix:
        for element in row:
            if element > max_element:
                max_element = element
    return max_element


my_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
max_element = find_max_element_2d(my_matrix)
print("Maximum element in the 2D list:", max_element)

Maximum element in the 2D list: 9

**15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.**

In [21]:
def remove_element(lst, element):
    updated_list = []
    for item in lst:
        if item != element:
            updated_list.append(item)
    return updated_list

:
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
updated_list = remove_element(my_list, element_to_remove)
print("Original list:", my_list)
print("After removing", element_to_remove, ":", updated_list)

Original list: [1, 2, 3, 4, 2, 5, 2]
After removing 2 : [1, 3, 4, 5]

**16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop**

In [22]:
def generate_multiplication_table():
    for i in range(1, 6):
        print(f"Multiplication table for {i}:")
        for j in range(1, 11):
            print(f"{i} x {j} = {i*j}")
        print()  # Add a blank line after each table


generate_multiplication_table()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.**

In [23]:
def fahrenheit_to_celsius(fahrenheit_temperatures):
    celsius_temperatures = []
    for fahrenheit in fahrenheit_temperatures:
        celsius = (fahrenheit - 32) * 5/9
        celsius_temperatures.append(celsius)
    return celsius_temperatures


fahrenheit_temperatures = [32, 68, 86, 104, 122]
celsius_temperatures = fahrenheit_to_celsius(fahrenheit_temperatures)
print("Fahrenheit Temperatures:", fahrenheit_temperatures)
print("Celsius Temperatures:", celsius_temperatures)

Fahrenheit Temperatures: [32, 68, 86, 104, 122]
Celsius Temperatures: [0.0, 20.0, 30.0, 40.0, 50.0]

**18. Create a program to print the common elements from two lists using a `for` loop.**

In [24]:
def find_common_elements(list1, list2):
    common_elements = []
    for item1 in list1:
        for item2 in list2:
            if item1 == item2:
                common_elements.append(item1)
                break  # Break to avoid duplicate entries in the result
    return common_elements


list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = find_common_elements(list1, list2)
print("Common elements:", common_elements)

Common elements: [4, 5]

**19 Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern**

In [25]:
def print_right_triangle(rows):
    for i in range(1, rows + 1):
        print('*' * i)

rows = 5
print("Right-angled triangle pattern:")
print_right_triangle(rows)

Right-angled triangle pattern:
*
**
***
****
*****

**20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop**

In [26]:
def find_gcd(num1, num2):
    gcd = 1
    for i in range(1, min(num1, num2) + 1):
        if num1 % i == 0 and num2 % i == 0:
            gcd = i
    return gcd


number1 = 24
number2 = 36
gcd = find_gcd(number1, number2)
print("Greatest Common Divisor of", number1, "and", number2, "is:", gcd)

Greatest Common Divisor of 24 and 36 is: 12

****

# Advance Level

**21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.**

In [27]:
def sum_of_digits(numbers):
    return [sum(int(digit) for digit in str(num)) for num in numbers]

numbers = [123, 456, 789]
sum_of_digits_list = sum_of_digits(numbers)
print("Sum of digits for each number:", sum_of_digits_list)

Sum of digits for each number: [6, 15, 24]

**22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.**

In [28]:
def prime_factors(number):
    factors = []
    # Divide the number by 2 repeatedly to remove all factors of 2
    while number % 2 == 0:
        factors.append(2)
        number //= 2
    # Now, the number is odd, so we can start from 3 and check odd numbers
    for i in range(3, int(number**0.5) + 1, 2):
        while number % i == 0:
            factors.append(i)
            number //= i
    # If the remaining number is greater than 2, it's also a factor
    if number > 2:
        factors.append(number)
    return factors


number = 84
prime_factors_list = prime_factors(number)
print("Prime factors of", number, "are:", prime_factors_list)

Prime factors of 84 are: [2, 2, 3, 7]

**23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.**

In [29]:
def extract_unique_elements(input_list):
    return list(set(input_list))


input_list = [1, 2, 2, 3, 4, 4, 5, 5, 6]
unique_elements = extract_unique_elements(input_list)
print("Original list:", input_list)
print("Unique elements:", unique_elements)

Original list: [1, 2, 2, 3, 4, 4, 5, 5, 6]
Unique elements: [1, 2, 3, 4, 5, 6]

**24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.**

In [31]:
def extract_unique_elements(input_list):
    unique_elements = []
    for item in input_list:
        if item not in unique_elements:
            unique_elements.append(item)
    return unique_elements


input_list = [1, 2, 2, 3, 4, 4, 5, 5, 6]
unique_elements = extract_unique_elements(input_list)
print("Original list:", input_list)
print("Unique elements:", unique_elements)

Original list: [1, 2, 2, 3, 4, 4, 5, 5, 6]
Unique elements: [1, 2, 3, 4, 5, 6]

**25. Write a program to flatten a nested list using list comprehension.**

In [32]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = []

for sublist in nested_list:
    for element in sublist:
        flattened_list.append(element)

print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

**26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.**

In [33]:
def sum_even_odd(numbers):
    even_sum = 0
    odd_sum = 0
    for num in numbers:
        if num % 2 == 0:
            even_sum += num
        else:
            odd_sum += num
    return even_sum, odd_sum


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum, odd_sum = sum_even_odd(numbers)
print("Original list:", numbers)
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of even numbers: 30
Sum of odd numbers: 25

**27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.**

In [34]:
squares_of_odd_numbers = [num**2 for num in range(1, 11) if num % 2 != 0]

print("List of squares of odd numbers between 1 and 10:", squares_of_odd_numbers)

List of squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

**28. Write a program that combines two lists into a dictionary using list comprehension.**

In [35]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

combined_dict = {key: value for key, value in zip(keys, values)}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3}

**29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.**

In [36]:
def extract_vowels(string):
    vowels = "aeiouAEIOU"
    return [char for char in string if char in vowels]


input_string = "Hello, World!"
vowel_list = extract_vowels(input_string)
print("Original string:", input_string)
print("List of vowels:", vowel_list)

Original string: Hello, World!
List of vowels: ['e', 'o', 'o']

**30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.**

In [37]:
def remove_non_numeric(strings):
    return [''.join(char for char in string if char.isdigit()) for string in strings]

strings_list = ['abc123', 'def456', 'ghi789']
numeric_strings = remove_non_numeric(strings_list)
print("Original list of strings:", strings_list)
print("List of numeric strings:", numeric_strings)

Original list of strings: ['abc123', 'def456', 'ghi789']
List of numeric strings: ['123', '456', '789']

****

# Challenge Level

**31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.**

In [38]:
def sieve_of_eratosthenes(n):
    sieve = [True] * (n + 1)
    sieve[0] = sieve[1] = False

    for i in range(2, int(n ** 0.5) + 1):
        if sieve[i]:
            sieve[i*i : n+1 : i] = [False] * len(sieve[i*i : n+1 : i])

    return [i for i in range(2, n + 1) if sieve[i]]

n = int(input("Enter a number to generate prime numbers up to: "))
prime_numbers = sieve_of_eratosthenes(n)
print("Prime numbers up to", n, "are:", prime_numbers)

Enter a number to generate prime numbers up to: 34
Prime numbers up to 34 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

**32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.**

In [40]:
def generate_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit+1)
                            for b in range(a, limit+1)
                            for c in range(b, limit+1)
                            if a**2 + b**2 == c**2]
    return triplets


limit = int(input("Enter the limit to generate Pythagorean triplets up to: "))
pythagorean_triplets = generate_pythagorean_triplets(limit)
print("Pythagorean triplets up to", limit, "are:", pythagorean_triplets)

Enter the limit to generate Pythagorean triplets up to: 10
Pythagorean triplets up to 10 are: [(3, 4, 5), (6, 8, 10)]

**33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.**

In [41]:
def generate_combinations(list1, list2):
    combinations = [(x, y) for x in list1 for y in list2]
    return combinations

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
all_combinations = generate_combinations(list1, list2)
print("All possible combinations of", list1, "and", list2, "are:", all_combinations)

All possible combinations of [1, 2, 3] and ['a', 'b', 'c'] are: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

**34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.**

In [42]:
from statistics import median, mode

def calculate_mean(numbers):
    return sum(numbers) / len(numbers)


numbers = [1, 2, 3, 4, 5]
mean = calculate_mean(numbers)
print("Mean:", mean)

Mean: 3.0

**35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.**

In [43]:
def generate_pascals_triangle(rows):
    triangle = [[1]]
    for _ in range(1, rows):
        row = [1] + [triangle[-1][i] + triangle[-1][i+1] for i in range(len(triangle[-1])-1)] + [1]
        triangle.append(row)
    return triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(' '.join(map(str, row)).center(len(triangle[-1])*3))


rows = int(input("Enter the number of rows for Pascal's triangle: "))
pascals_triangle = generate_pascals_triangle(rows)
print("Pascal's triangle with", rows, "rows:")
print_pascals_triangle(pascals_triangle)

Enter the number of rows for Pascal's triangle: 5
Pascal's triangle with 5 rows:
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension

In [45]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

def sum_of_digits(number):
    return sum(int(digit) for digit in str(number))

# Calculate factorial and sum of digits for numbers 1 to 5
results = [sum_of_digits(factorial(i)) for i in range(1, 6)]

print("Sum of digits of factorials for numbers from 1 to 5:", results)

Sum of digits of factorials for numbers from 1 to 5: [1, 2, 6, 6, 3]

**37. Write a program that finds the longest word in a sentence using list comprehension.**

In [46]:
def find_longest_word(sentence):
    words = sentence.split()
    longest_word = max((word for word in words), key=len)
    return longest_word

sentence = input("Enter a sentence: ")
longest_word = find_longest_word(sentence)
print("The longest word in the sentence is:", longest_word)

Enter a sentence: Once upon a time there is a king
The longest word in the sentence is: there

**38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.**

In [55]:
def count_vowels(word):
    vowels = "aeiouAEIOU"
    return sum(1 for char in word if char in vowels)

def filter_strings_with_more_than_three_vowels(strings):
    return [string for string in strings if count_vowels(string) > 3]

# Example usage:
string_list = ["hello", "world", "python", "programming", "computer", "technology", "vowel"]
filtered_strings = filter_strings_with_more_than_three_vowels(string_list)
print("Strings with more than three vowels:", filtered_strings)

Strings with more than three vowels: []

**39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.**

In [50]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

# Generate list of prime palindromic numbers
prime_palindromic_numbers = [num for num in range(2, 1000) if is_prime(num) and is_palindrome(num)]

print("Prime palindromic numbers up to 1000:", prime_palindromic_numbers)

Prime palindromic numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]

**40. Write a program that generates a list of prime palindromic numbers using list comprehension**

In [57]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

# Generate list of prime palindromic numbers
prime_palindromic_numbers = [num for num in range(2, 1000) if is_prime(num) and is_palindrome(num)]

print("Prime palindromic numbers up to 1000:", prime_palindromic_numbers)

Prime palindromic numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]